

%Comfortaa-bold{
   font-family: 'Comfortaa-Bold', sans-serif;
   font-weight: 700;
}


%Comfortaa-regular{
   font-family: 'Comfortaa-Regular', sans-serif;
   font-weight: 400;
}

%RobotoCondensed-bold{
   font-family: 'RobotoCondensed-Bold', sans-serif;
   font-weight: 700;
}

%RobotoCondensed-regular{
   font-family: 'RobotoCondensed-Regular', sans-serif;
   font-weight: 400;
}

%RobotoCondensed-italic{
   font-family: 'RobotoCondensed-Italic', sans-serif;
   font-weight: 400;
}
